extends layout

block main
  dl 
    dt 
      h1 Exercise Groups 
    
    each exerciseGroup in exerciseGroups
      dd 
        a(href=`/groups/${exerciseGroup.id}`) #{exerciseGroup.exercise_group_name}
        form(action=`/groups/${exerciseGroup.id}/destroy`, method="post")
          button(type="submit")
            i.fa-solid.fa-trash-can
        a(href=`/groups/${exerciseGroup.id}/edit`) 
          i.fa-solid.fa-pen-to-square

                
  form(action="/groups/create", method="post")
    dl 
      dt 
        label(for="group") Create Exercise Group
      dd 
        input(type="text" name="group")

    button(type="submit") Create